*{
    box-sizing: border-box;  
}

body{
    margin: 0;
}

.hero{
    background:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #800020a1),url("../../assets/images/88ca98801b9941029b023c07169bc97b.jpg");
    background-position: center, left;
    background-size: cover, cover;
    height: fit-content;
    color: #ffffff;
    padding: 6rem 3rem;
}
.heroInner {
    display: flex;
    width: 70%;
    max-width: 1200px;
    text-align: start;
    border: 1px solid black;
    padding-left: 30px;
}
h1{
    font-family:'Libre Franklin';
    font-weight: 470;
    letter-spacing: 3px;
    font-size: 120px;
    width: 100%;
    margin-bottom: 10px;
}
h2{
    font-family:'Libre Franklin';
    font-weight: 300;
    letter-spacing: 3px;
    font-size: px;
    width: 100%;
}

.italic{
    font-style: italic;
}

.bio{
    background-color: #ffffe4;
    text-align: center;
    padding: 30px 40px;
}


h3{
    font-family:'Libre Franklin';
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 30px;
    width: 100%;
}

.courses{
    background-color: #f5f5f5;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}